name: Test

on:
  push:
  pull_request:
  workflow_call:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-latest
            system: aarch64-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check formatting
        run: nix build .#checks.${{ matrix.system }}.formatting --print-build-logs

      - name: Run tests
        run: nix build .#checks.${{ matrix.system }}.tests --print-build-logs -o test-result

      - name: Upload coverage
        if: matrix.system == 'x86_64-linux'
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: test-result/coverage/
          if-no-files-found: ignore
